.e1i41bku1 a {
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  animation: rainbow 2s infinite linear;
  background: linear-gradient(
    90deg,
    #f00,
    #dd0,
    #0a0,
    #0ff,
    #00f,
    #f0f,
    #f00,
    #dd0,
    #0a0,
    #0ff,
    #00f,
    #f0f,
    #f00
  );
  background-size: 200%;
}

@keyframes rainbow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
